# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv
env/
venv/
ENV/

# YOLO models
*.pt

# Data & Output
extracted_frames/
annotated_frames/
frame_timeline.json
*.mp4
*.avi
*.mkv
